# Auto detect text files and normalize line endings to LF
* text=auto

# JavaScript
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.mjs text eol=lf

# Config
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.gitignore text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text eol=lf
